/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1b1b2f;
    color: #fff;
}

/* NAVBAR */
header {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(27, 27, 47, 0.9);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #c77dff30;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #c77dff;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: .3s;
}

.nav-menu a:hover,
.nav-menu .active {
    color: #c77dff;
}

/* HOME SECTION */
.home {
    height: 100vh;
    width: 100%;
    padding: 100px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text h3 {
    font-size: 26px;
    font-weight: 500;
}

.home-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 10px 0;
}

.role {
    color: #c77dff;
    font-weight: 700;
    border-right: 3px solid #c77dff;
    padding-right: 5px;
    animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
    0% { border-color: #c77dff; }
    50% { border-color: transparent; }
    100% { border-color: #c77dff; }
}


.home-text p {
    width: 70%;
    margin: 15px 0;
    line-height: 1.6;
}

 .social-icons {
            margin: 30px;
            display: flex;
            gap: 15px;
        }
        .social-icons a {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #c77dff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            color: #c77dff;
        }



/* BUTTON */
.btn-blue {
    display: inline-block;
    background: #c77dff;
    color: #000;
    margin-top: 25px;
    padding: 12px 28px;
    font-weight: 600;
    border-radius: 30px;
    transition: .3s;
}

.btn-blue:hover {
    background: #e0aaff;
}

/* HOME IMAGE - Perfect Round Style */
.home-img {
    position: relative;
    width: 330px;
    height: 400px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* MAKE PHOTO ROUND */
    border-radius: 50%;

    position: relative;
    z-index: 3;

    /* Optional Neon Purple Outline */
    border: 4px solid rgba(199, 125, 255, 0.6);
    box-shadow:
        0 0 15px rgba(199, 125, 255, 0.9),
        0 0 30px rgba(199, 125, 255, 0.5);
}


.bg-shape {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 380px;
    height: 380px;

    background: radial-gradient(circle, #e0aaff, #c77dff 60%, #b388ff);
    
    /* MAKE BACKGOUND FIT CIRCLE PHOTO */
    border-radius: 50%;

    z-index: 1;
    filter: blur(20px);
    opacity: 0.9;
    animation: float 4s ease-in-out infinite;
}

/* Soft Floating Animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

/* ================================
SECTION TITLES 
================================*/
.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 700;
}

.section-title span {
    color: #c77dff;
}

/* ================================
ABOUT SECTION 
================================ */
.about {
    padding: 120px 8%;
}

.about-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.about-img img {
    width: 260px;
    border-radius: 50%;
    border: 4px solid #c77dff;
}

.about-text {
    width: 55%;
    text-align: center;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

/* ================================
EDUCATION 
================================ */
.education {
    padding: 120px 8%;
}

.journey-container {
    display: flex;
    justify-content: space-between;
}

.journey-column {
    width: 48%;
}

.journey-column h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.journey-card {
    background: #23233a;
    padding: 25px;
    border-left: 4px solid #c77dff;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: 0.3s;
}

.journey-card:hover {
    transform: translateY(-5px);
    background: #2d2d46;
}

.journey-card h3 {
    color: #c77dff;
}

/* ================================
SKILLS SECTION 
================================*/
.skills {
    padding: 120px 8%;
}

.skills-box {
    display: flex;
    justify-content: space-between;
}

.skill-column {
    width: 48%;
}

.skill-column h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

.skill-bar {
    margin-bottom: 22px;
}

.skill-bar p {
    margin-bottom: 4px;
    font-weight: 500;
}

.skill-bar span {
    float: right;
    color: #c77dff;
}

.bar {
    height: 12px;
    width: 100%;
    background: #2d2d46;
    border-radius: 10px;
}

.bar div {
    height: 100%;
    background: linear-gradient(90deg, #c77dff, #e0aaff);
    border-radius: 10px;
}

/* ================================
 SERVICES SECTION 
================================ */
.services {
    padding: 120px 8%;
}

.services-box {
    display: flex;
    justify-content: space-between;
}

.service-card {
    width: 31%;
    background: #23233a;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.service-card i {
    font-size: 50px;
    color: #c77dff;
    margin-bottom: 15px;
}

.service-card:hover {
    transform: translateY(-10px);
    background: #2d2d46;
}

/* ================================
   PROJECT SECTION
================================ */

.project {
    padding: 120px 8%;
}

.project .heading {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.project .heading span {
    color: #c77dff; /* purple */
}

/* PROJECT GRID */
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* PROJECT BOX STYLE */
.project-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(199, 125, 255, 0.25);
    transition: 0.4s ease;
}

.project-box img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: 0.4s ease;
}

/* ZOOM ON HOVER */
.project-box:hover img {
    transform: scale(1.1);
}

/* OVERLAY LAYER */
.project-layer {
    position: absolute;
    inset: 0;
    background: rgba(199, 125, 255, 0.5);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    opacity: 0;
    transition: 0.4s ease;
    text-align: center;
}

/* SHOW LAYER ON HOVER */
.project-box:hover .project-layer {
    opacity: 1;
}

/* TEXT INSIDE LAYER */
.project-layer h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.project-layer p {
    color: #fff;
    font-size: 15px;
    margin: 10px 0 15px;
    width: 90%;
}

/* EXTERNAL LINK BUTTON */
.project-layer a {
    width: 50px;
    height: 50px;
    background: #c77dff;
    color: #1b1b2f;

    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: 0.3s ease;
}

.project-layer a:hover {
    background: #e0aaff;
    transform: scale(1.15);
}

/* ================================
CONTACT SECTION 
================================ */
.contact {
    padding: 120px 8%;
}

.contact-form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #c77dff;
    background: #23233a;
    color: white;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    width: 180px;
    margin: auto;
    margin-top: 10px;
}
